  ---
  About
  ---

About Akubra

  Akubra is a blob storage API that is adaptable to almost any storage subsystem.
For more information about this project, see 
{{{https://wiki.duraspace.org/display/AKUBRA}the Akubra Wiki}}
